.navigationBar {
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  min-height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.navigationBar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.navigation__logo {
  width: 48px;
  height: 43px;
  margin-bottom: 50px;
}
.navigation__home {
  width: 30px;
  height: 22px;
  margin-bottom: 30px;
}
.navigation__account {
  width: 24px;
  height: 24px;
}
.navigationBar__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.navigation__avatar {
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
}
.navigation__settings {
  width: 32px;
  height: 24px;
  margin-bottom: 30px;
}
.navigation__open {
  width: 32px;
  height: 24px;
  margin-bottom: 49px;
}
